.wrapper
{
    margin: auto;
    width: 100%;
    min-height:100%;
    position:relative;
}

.content
{
    margin: auto;
    width: 100%;
    height: calc(100vh - 155px - 40px);
}

.contentr
{
    padding: 15px;
    overflow-y: auto;
    float: left;
    clear: none;
    text-align: center;
    width: calc(100% - 30px);
    height: calc(100vh - 155px - 40px - 30px);
}



table
{
    table-layout: fixed;
}

table th, td
{
    word-wrap: break-word;
}


#mid_content
{
    overflow-x: auto;
}

#bottom_msg
{
    height: 20px;
    line-height: 20px;
}

.list_table td
{
    text-align: center;
    vertical-align: bottom;
}

#reportRawData_tbl table td:first-child
{
    background-color: #CCCCCC;
}

.td_selected
{
    cursor: pointer;
}
.td_selected:hover
{
    color: white;
    background-color: rgba(0, 128, 255, 0.5) !important;
}

.selected1
{
    color: white;
    background-color: rgba(0, 128, 255, 0.5);
}
