html,body
{
    font-size: 16px;
    font-family: Calibri;
    background-color: #F0F0F0;
    margin: 0px;
    height: 100%;
}

button
{
    font-family: Calibri;
}

input
{
    font-family: Calibri;
}

option
{
    font-family: Calibri;
    font-size: 16px;
}

select
{
    font-family: Calibri;
}

.header
{
    position: relative;
    background-color: #545454;
    height: 100px;
}

.menu
{
    margin: auto;
    background-color: black;
    height: 55px;
    padding: 0px;
    border: 0px;
}

.footer
{
    margin: auto;
    background-color: #545454;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #8A8A8A;
    width: 100%;
    position:absolute;
    bottom:0;
    left:0;
}

.ui-icon-white
{
    background-image: url("images/ui-icons_ffffff_256x240.png");
    display: inline-block;
    position: relative;
    top: 3px;
    left: 1px;
}

.ui-icon-red
{
    background-image: url("images/ui-icons_cd0a0a_256x240.png");
    display: inline-block;
    position: relative;
    top: 3px;
    left: 1px;
}

.edit_icon
{
    margin: auto;
}
.edit_icon:hover
{
    cursor: pointer;
    position: relative;
    top: 1px;
    left: 1px;
}

#logout
{
    position: absolute;
    display: inline-block;
    color: white;
    padding: 5px;
    bottom: 3px;
    right: 3px;
}
#logout a
{
    color: white;
    text-decoration: none;
}
#logout a:hover
{
    color: #1A385C;
    cursor: pointer;
}


/* button */
.juibtn
{
    font-size: 10px;
    width: 75px;
}


.mainItem
{
    display: inline-block;
    font-size: 22px;
    color: white;
    height: 55px;
    line-height: 55px;
    width: 105px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.mainItem:hover
{
    cursor: pointer;
    z-index:1000;
    box-shadow:rgba(0, 0, 0, 0.3) 0 7px 7px 0;
    -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 7px 7px 0;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 7px 7px 0;
}

.mainItem-selected
{
    display: inline-block;
    font-size: 22px;
    color: #545454;
    height: 55px;
    line-height: 55px;
    width: 105px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: #F0F0F0;
}

.mainItem_unused
{
    display: inline-block;
    font-size: 22px;
    color: gray;
    height: 55px;
    line-height: 55px;
    width: 105px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.menu_item
{
    display: inline-block;
    font-size: 22px;
    color: gray;
    height: 55px;
    line-height: 55px;
    text-align: right;
    padding: 0px;
    margin: 0px;
    position: relative;
    float: right;
    right: 20px;
}

.menu_img
{
    width: 35px;
    height: 35px;
}

.menu_img:hover
{
    cursor: pointer;
}

#warn_icon, #tool_icon
{
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

.logo
{
    height: 53px;
    width: 189px;
    background: url(../img/alphaTransparent.png) no-repeat;
}

.list_table
{
    margin: 0px auto;
}

.list_table td
{
    padding: 3px;
}

.reportRawData_div table
{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    margin: 0px auto;
    border: 1px solid black;
}

.reportRawData_div table td
{
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

.reportRawData_div table th
{
    border-collapse: collapse;
    border: 1px solid black;
    background-color: gray;
    text-align: center;
}

.reportRawData_div table tr:nth-child(even)
{
    background-color: white;
}

.reportRawData_div table tr:nth-child(odd)
{
    background-color: #F0F0F0;
}

.error_style
{
    color: red;
}

.center
{
    display: inline-block;
    text-align: center;
}

.right
{
    display: inline-block;
    float: right;
    position: relative;
    right: 50px;
}

.ui-dialog { font-size: 12px; }

.tdhighlight
{
    background-color: rgba(255, 148, 148, 0.5) !important;
    transition:0.3s;
}

/*************************************************/

.ui-widget { font-size: 10px; }

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 62.5; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

#datepicker_start
{
    width: 100px;
}
#datepicker_end
{
    width: 100px;
}

/*************************************************/

#cssmenu a
{
    color: inherit;
    text-decoration: none;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


#cssmenu li:not(.has-sub) {
    display: inline-block;
    line-height: 55px;
}


#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#cssmenu #menu-button {
    display: none;
}

#cssmenu > ul > li {
    float: left;
}

#cssmenu.align-center > ul {
    font-size: 0;
    text-align: center;
}

#cssmenu.align-center > ul > li {
    display: inline-block;
    float: none;
}

#cssmenu.align-center ul ul {
    text-align: left;
}

#cssmenu.align-right > ul > li {
    float: right;
}

#cssmenu > ul > li > a {
    padding: 16px;
}

#cssmenu > ul > li:hover > a {
    color: gray;
}

#cssmenu ul ul {
    position: absolute;
    left: -9999px;
}

#cssmenu.align-right ul ul {
    text-align: right;
}

#cssmenu ul ul li {
    height: 0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

#cssmenu li:hover > ul {
    left: auto;
}

#cssmenu.align-right li:hover > ul {
    left: auto;
    right: 0;
}

#cssmenu li:hover > ul > li {
    height: 35px;
}

#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
}

#cssmenu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
}

#cssmenu ul ul li a {
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    padding: 11px 15px;
    width: 170px;
    font-size: 16px;
    text-decoration: none;
    color: #dddddd;
    font-weight: 400;
    background: #333333;
    text-align: left;
}

#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
    border-bottom: 0;
}

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
    color: gray;
}


#cssmenu ul ul
{
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

#cssmenu ul ul li.has-sub > a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
}

#cssmenu.align-right ul ul li.has-sub > a:after {
    right: auto;
    left: 11px;
}

#cssmenu ul ul li.has-sub > a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

#cssmenu.align-right ul ul li.has-sub > a:before {
    right: auto;
    left: 14px;
}

#cssmenu ul ul > li.has-sub:hover > a:before {
    top: 17px;
    height: 0;
}
