.wrapper
{
    margin: auto;
    width: 100%;
    min-height:100%;
    position:relative;
}

.content
{
    margin: auto;
    background-color: #D8D8D8;
    width: 100%;
    height: calc(100vh - 155px - 40px);
}

.contentl
{
    background-color: #8A8A8A;
    width: 210px;
    padding: 0px;

    float: left;
    clear: none;

    height: calc(100vh - 155px - 40px);
}

.contentr
{
    padding: 0px 15px 0px 15px;
    overflow-y: auto;

    float: left;
    clear: none;

    height: calc(100vh - 155px - 40px);
    width: calc(100vw - 210px - 30px);
}

.sticky
{
    background-color: #D8D8D8;
    width: calc(100vw - 210px - 30px);
    position: fixed;
}

.sidebar
{
    float: right;
    width: 15%;
    text-align: center;
}

.mid_content_floatleft
{
    float: left;
    width: 85%;
}

#mid_content
{
    padding: 0px 0px 15px 0px;
}

.item_panel
{
    height: 20px;
    width: calc(100% - 5px);
    line-height: 20px;
    padding: 0px 0px 0px 5px;

}
#item_panel .fa-plus:hover, #item_panel .fa-times:hover, #item_panel .fa-pencil-square-o:hover
{
    cursor: pointer;
    position: relative;
    top: 1px;
    left: 1px;
}


#list_table, #housekeep_table
{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    margin: 0px auto;
    border: 1px solid gray;
    float: left;
}

#list_table th, #housekeep_table th
{
    border-collapse: collapse;
    border: 1px solid gray;
    background-color: #CCE5FF;
}

#housekeep_table td
{
    border-collapse: collapse;
    border: 1px solid gray;
    background-color: #F0F0F0;
}

#list_table td
{
    border-collapse: collapse;
    border: 1px solid gray;
}

#list_table tr:nth-child(even)
{
    background-color: white;
}

#list_table tr:nth-child(odd)
{
    background-color: #F0F0F0;
}

#selectall
{
    width: 20px;
}

.myCheckbox
{
    width: 20px;
}

.housekeepform input[type="text"]
{
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

.editform input[type="text"]
{
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

.editform input[type="password"]
{
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

.editform input[type="email"]
{
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

.editform #ftp_logintype, #addform #kpi_option, .editform #configName, #addform #role_option, .editform #role_option
{
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

#list_table input[type="text"]
{
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

/* menu effect */
.wrap-menu { margin:0 auto; overflow:auto; width:210px; font:16px Calibri; }
.wrap-menu ul{ list-style:none; margin:0; padding:0; }
.wrap-menu ul li{ text-indent:1em; white-space:nowrap;}
.wrap-menu ul li h2{ cursor:pointer; height:30px; margin:0 0 1px 0; font:16px Calibri; color:#fff; background:#8A8A8A; line-height:2em;}
.wrap-menu ul li a{ display:block; outline:none; height:30px; line-height:30px; margin:1px 0; color:#1A385C; text-decoration:none; background:#F6F6F6; transition:0.3s;}
.wrap-menu ul li img{ margin-right:10px; margin-left:-17px; margin-top:9px; width:7px; height:7px; background:url(../img/arrow.gif) no-repeat; border:none;}
.wrap-menu ul li img.unfold{ background-position:0 -9px;}
.wrap-menu ul li a:hover{ background-color:#ccc; background-image:none;}


/* tablesorter style */
table.tablesorter {
    border-spacing: 0px !important;
    border-collapse: separate !important;
    border: 0px solid gray !important;

}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    height: 18px;
    border: 0px solid gray !important;
}

table.tablesorter thead tr .header {
    background-image: url(../img/tableSorterThemeBlue/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.tablesorter tbody td {
    border: 0px solid gray !important;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(../img/tableSorterThemeBlue/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(../img/tableSorterThemeBlue/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8 !important;
}
