.wrapper
{
    margin: auto;
    width: 100%;
    min-height:100%;
    position:relative;
}

.content
{
    margin: auto;
    background-color: #F0F0F0;
    width: 100%;
    height: calc(100vh - 155px - 40px);
}

.contentr
{
    padding: 15px;
    overflow-y: auto;
    float: left;
    clear: none;
    text-align: center;
    width: calc(100% - 30px);
    height: calc(100vh - 155px - 40px - 30px);
}

.gap
{
    height: 10px;
    text-align: center;

    width: 100%;
}

._title
{
    height: 20px;
    line-height:20px;
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    background-color: #D6D6C2;
    width: 100%;
}

._placeholder
{
    height: 370px;
    background-color: white;

    width: 100%;
}


#bottom_msg
{
    height: 20px;
    line-height: 20px;
}

#summaryTargetBar
{
    height:20px;
    line-height:20px;
    text-align: right;

    width: 100%;
}