.wrapper
{
    margin: auto;
    width: 100%;
    min-height:100%;
    position:relative;
}

.content
{
    margin: auto;
    width: 100%;
    height: calc(100vh - 155px - 40px);
}

.contentr
{
    padding: 15px;
    overflow-y: auto;
    float: left;
    clear: none;
    text-align: center;
    width: calc(100% - 30px);
    height: calc(100vh - 155px - 40px - 30px - 40px);
}

#submenu
{
    margin: auto;
    background-color: rgba(27, 124, 124, 0.5);
    height: 40px;
    padding: 0px;
    border: 0px;
    vertical-align: middle;
    top: 16px;
}

.subItem
{
    display: inline-block;
    font-size: 17px;
    color: rgba(59, 13, 17, 0.5);
    height: 40px;
    line-height: 40px;
    width: 130px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    float: right !important;
}

.subItem:hover
{
    cursor: pointer;
    z-index: 1000;
    background-color: rgba(116, 131, 134, 0.5);
    color: white !important;
    transition:0.3s;
}

.subItemStyle
{
    background-color: rgba(116, 131, 134, 0.5);
    color: white !important;
}

.list_table
{
	background-color: rgba(255, 255, 255, 0.5);
    margin: 0px auto;
    border-collapse: collapse;
    text-align: center;
    width: 50%;
    border: 1px solid gray;
}

.list_table th
{
    border-collapse: collapse;
    border: 1px solid gray;
    background-color: gray;
}

.list_table td
{
    border-collapse: collapse;
    border: 1px solid gray;
}

.list_table input[type="text"], .list_table select
{
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

.placeholder
{
    margin: 0px auto;
    width:550px;
    height:350px;
}

#hoevents, #hodomain, #hotype
{
    height: 80px;   
}

