body
{
    font-size: 16px;
    font-family: Calibri;
    background-color: #F0F0F0;
}

button
{
    font-family: Calibri;
}

input
{
    font-family: Calibri;
    font-size: 16px;
}

.wrapper
{
    margin: auto;
    background-color: #F0F0F0;
    border-radius: 20px 20px 20px 20px;
    width: 230px;
    height: 190px;
    padding: 20px;
}

#form
{
    width: 220px;
    height: 143px;
}

#bottom_msg
{
    font-size: 16px;
}

#msg
{
    font: Trebuchet MS,sans-serif;
    font-size: 11px;
    overflow-y: auto;
    height: 45px;
    width: 230px;
}

#registerform
{
    height: 143px;
    width: 230px;  
}

#list_table
{
    border-collapse: collapse;
    width: 100%;
    margin: 0px auto;
    float: left;
}

#list_table th
{
    border-collapse: collapse;
    text-align: left;
    font-size: 25px;
}

#list_table td
{
    border-collapse: collapse;
}

#list_table input[type="password"],input[type="text"],input[type="email"]
{
    width: 100%; 
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

#list_table a
{
    font-size: 14px;
    color: gray;
}

#list_table a:hover
{
    color: #545454;

    position: relative;
    top: 1px;
    left: 1px;
}


/* button */
.juibtn
{
    font-size: 10px;
    width: 70px;

    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}

.juibtn:hover {
    background: #EB9E9E;
}

/* Basic Grey */
.basic-grey {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F0F0F0;
    padding: 25px 15px 25px 10px;
    font: 12px Calibri;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #F0F0F0;

    border-radius: 20px 20px 20px 20px;
}

.basic-grey label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}

.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey input[type="password"] {
    border: 1px solid #DADADA;
    color: #888;
    height: 25px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

.basic-grey .button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;

    font-size: 11px;
}

.basic-grey .button:hover {
    background: #EB9E9E;
}