.wrapper
{
    margin: auto;
    width: 100%;
    min-height:100%;
    position:relative;
}


.content
{
    margin: auto;
    width: 100%;
    height: calc(100vh - 155px - 40px);
}

.contentr
{
    padding: 15px;
    overflow-y: auto;
    float: left;
    clear: none;
    text-align: center;
    width: calc(100% - 30px);
    height: calc(100vh - 155px - 40px - 30px);
}

#detail_report tr:nth-child(even), #detail_hourly tr:nth-child(even), #detail_raw tr:nth-child(even)
{
    background-color: white;
}

#detail_report tr:nth-child(odd), #detail_hourly tr:nth-child(odd), #detail_raw tr:nth-child(odd)
{
    background-color: #F0F0F0;
}

.reportRawData_div table td:first-child
{
    background-color: #CCCCCC;
}

#reportRawData_tbl .report, #detail_report .hourly, #detail_hourly .raw, #detail_raw .graph
{
    cursor: pointer;
}

#reportRawData_tbl .report:hover
{
    color: white;
    background-color: rgba(0, 128, 255, 0.5);
}

#detail_report .hourly:hover
{
    color: white;
    background-color: rgba(0, 128, 255, 0.5);
}

#detail_hourly .raw:hover
{
    color: white;
    background-color: rgba(0, 128, 255, 0.5) !important;
}

#detail_raw .graph:hover
{
    color: white;
    background-color: rgba(0, 128, 255, 0.5) !important;
}

.selected1
{
    color: white;
    background-color: rgba(0, 128, 255, 0.5);
}

.selected2
{
    color: white;
    background-color: rgba(0, 128, 255, 0.5) !important;
}
.selected3
{
    color: white;
    background-color: rgba(0, 128, 255, 0.5) !important;
}

.detail
{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    margin: 0px auto;
    border: 1px solid black;
}

.detail td
{
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

.detail th
{
    border-collapse: collapse;
    border: 1px solid black;
    background-color: gray;
    text-align: center;
}

.detail tr
{
    background-color: white;
}

table
{
    table-layout: fixed;
}

table th, td
{
    word-wrap: break-word;
}

#mid_content
{
    overflow-x: auto;
}

#bottom_msg
{
    height: 20px;
    line-height: 20px;
}


.list_table td
{
    text-align: center;
    vertical-align: bottom;
}

/************** rf graph style **************/

.gap
{
    height: 10px;
    line-height:10px;
    text-align: center;
    width: calc(100vw - 42px);
    float: right;
}

._title
{
    height: 25px;
    line-height:25px;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;

    width: calc( 80vw );
}

._placeholder
{
    width: calc( 80vw );
}

.align_hor
{
    float: left;
    clear: none;
}

.right_column
{
    width: calc( 14vw );
    padding-left: 5px;
    text-align:left;
}

.OliveGreen
{
    background-color: #D6D6C2;
}

.red
{
    background-color: red;
}

.blue
{
    background-color: blue;
}

.yellow
{
    background-color: yellow;
}

.green
{
    background-color: green;
}

.gray
{
    background-color: gray;
}

.pink
{
    background-color: pink;
}

.white
{
    background-color: white;
}