.fap_info
{
    line-height:16px;
    padding: 5px;
    height: 32px;
    width: 135px;
    color: #bdbdbd;

    float: right;
    clear: none;
}

.wrapper
{
    margin: auto;
    width: 100%;
    min-height:100%;
    position:relative;
}

.content
{
    margin: auto;
    background-color: #F0F0F0;
    width: 100%;
    height: calc(100vh - 155px - 40px);
}

.contentr
{

    padding: 15px;
    overflow-y: auto;
    float: left;
    clear: none;
    text-align: center;
    width: calc(100% - 30px);
    height: calc(100vh - 155px - 40px - 30px);
}

#mid_content
{
    text-align: center;
}

/*//////////////////////// graph style /////////////////////////////*/

.gap
{
    height: 10px;
    line-height:10px;
    text-align: center;
    width: calc(100vw - 42px);
    float: right;
}

._title
{
    height: 25px;
    line-height:25px;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;

    width: calc( 80vw );
}

._placeholder
{
    width: calc( 80vw );
}

.align_hor
{
    float: left;
    clear: none;
}

.right_column
{
    width: calc( 14vw );
    padding-left: 5px;
    text-align:left;
}

.OliveGreen
{
    background-color: #D6D6C2;
}

.red
{
    background-color: red;
}

.blue
{
    background-color: blue;
}

.yellow
{
    background-color: yellow;
}

.green
{
    background-color: green;
}

.gray
{
    background-color: gray;
}

/*///////////////////////////////////////////////////////////*/

#discovered_cell_table
{
    border-collapse:collapse;
    border:1px solid black;
    text-align: center;
}

#discovered_cell_table tr
{
    border-collapse:collapse;
    border:1px solid black;
}

#discovered_cell_table td
{
    border-collapse:collapse;
    border:1px solid black;
}