.wrapper
{
    margin: auto;
    width: 100%;
    min-height:100%;
    position:relative;
}


.content
{
    margin: auto;
    width: 100%;
    height: calc(100vh - 155px - 40px);
}

.contentr
{
    padding: 15px;
    overflow-y: auto;
    float: left;
    clear: none;
    text-align: center;
    width: calc(100% - 30px);
    height: calc(100vh - 155px - 40px - 30px);
}

#upheader_content
{
    font-size: 24pt;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    width: 100%;
    padding: 0px 0px 25px 0px;
}

#mid_content
{
    width: 60%;
    margin: 0px auto;
}

#bottom_msg
{
    width: 60%;
    margin: 0px auto;
    color: red;
    line-height: 20px;
    text-align: left;
}

#list_table
{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    border: 1px solid gray;
    table-layout:fixed;
}

#list_table th
{
    border-collapse: collapse;
    border: 1px solid gray;
    background-color: #CCE5FF;
    text-align: center;
}

#list_table td
{
    border-collapse: collapse;
    border: 1px solid gray;
    background-color: white;
    word-wrap: break-word;
}

#list_table input
{
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
.juibtn
{
    float: left;
}
