.wrapper
{
    margin: auto;
    width: 100%;
    min-height:100%;
    position:relative;
}

.content
{
    margin: auto;
    width: 100%;
    height: calc(100vh - 155px - 40px);
}

.contentr
{
    padding: 15px;
    overflow-y: auto;
    float: left;
    clear: none;
    text-align: center;
    width: calc(100% - 30px);
    height: calc(100vh - 155px - 40px - 30px);
}

#upheader_content
{
    height: 30px;
    line-height: 30px;
    width: 100%;
    padding: 0px 0px 10px 0px;
}

#upheader_content_all
{
    width: 100%;
    padding: 0px 0px 10px 0px;
}

.warn_f
{
    font-size: 18pt;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    width: 80%;
    float: left;
}

.warn_n
{
    height: 30px;
    line-height: 30px;
    text-decoration: underline;
    float: right;
}

.warn_n:hover
{
    cursor: pointer;
    color: gray;
}

#query_table_div
{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 100%;
    padding: 2px 0px 3px 0px;
}

#query_table_div table
{
    margin: 0 auto;
    text-align: left;
}

#mid_content
{
    overflow-x: auto;
}

#list_table
{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    border: 1px solid gray;
    table-layout:fixed;
}

#list_table th
{
    border-collapse: collapse;
    border: 1px solid gray;
    background-color: rgba(255, 128, 0, 0.5);
}

#list_table td
{
    border-collapse: collapse;
    border: 1px solid gray;
    word-wrap: break-word;
}

#list_table tr:nth-child(even)
{
    background-color: white;
}

#list_table tr:nth-child(odd)
{
    background-color: #F0F0F0;
}

#selectall
{
    width: 20px;
}

.myCheckbox
{
    width: 20px;
}

#bottom_msg
{
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    float: left;
}

textarea
{
    height: 100%;
    width: 96%;
}

#kpiwarning, #alarmwarning
{
    margin: auto;
}

#kpiwarning a, #alarmwarning a
{
    text-decoration: none;
}

#kpiwarning a:hover, #alarmwarning a:hover
{
    color: black;
    position: relative;
    top: 1px;
    left: 1px;
}

#kpiwarning a:link, #kpiwarning a:visited, #kpiwarning a:active, #alarmwarning a:link, #alarmwarning a:visited, #alarmwarning a:active
{
    color: black;
}

.fa-cog
{
  color: red;
}